.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    margin-top: 4.1875rem;
    background-color: var(--cream);
}

@media screen and (min-width: 33.75rem) {
    .main {
        margin-top: 0;
        width: 540px;
    }
}