.bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar__value {
    position: relative;
    width: 2.0625rem;
    height: 5rem;
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--soft-red);
    transition: all 0.2s ease-in-out;
}

.bar__value:hover {
    opacity: 0.7;
    cursor: pointer;
}

.bar__value--current-day {
    background-color: var(--cyan);
}

.bar__label {
    position: absolute;
    top: -2.5rem;
    min-width: 3.0625rem;
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--dark-brown);
    color: var(--very-pale-orange);
    font-size: 0.8125rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.bar__label--visible {
    visibility: visible;
    opacity: 1;
}

.bar__value:hover .bar__label {
    opacity: 1;
    visibility: visible;
}

.bar__title {
    font-size: 0.75rem;
    color: var(--medium-brown);
}