.summary {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.summary__total-title {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    color: var(--medium-brown);
    letter-spacing: -0.4px;
}

.summary__total-amount {
    font-size: 1.8125rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.summary__difference {
    position: relative;
    top: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.summary__difference-amount {
    font-size: 0.9375rem;
    font-weight: 700;
}

.summary__difference-title {
    font-size: 0.9375rem;
    color: var(--medium-brown);
}

@media screen and (min-width: 33.75rem) {
    .summary__total-title {
        margin-bottom: 0;
        font-size: 1.1875rem;
        letter-spacing: -0.35px;
    }
    
    .summary__total-amount {
        font-size: 3rem;
        letter-spacing: -0.2px;
    }
    
    .summary__difference {
        top: 0.6875rem;
    }
    
    .summary__difference-amount {
        font-size: 1.125rem;
    }
    
    .summary__difference-title {
        font-size: 1.125rem;
    }
}